numpy
timm
transformers
matplotlib
scikit-image
opencv-python
nms 
lap
torch
torchvision
torchaudio
transformers
opencv-python

#make sure to install numpy matplotly and lap before bytetrack and this manually 
#install lap and then pip install --no-deps bytetracker

